.button {
  background-color: white; 
  border: none;
  color: black;
  border-radius: 5px;
  padding: 11px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
    box-shadow: 2px 2px 3px grey;
  transition-duration: 0.4s;
    margin-left: 27%;
  cursor: pointer;
}
.button1{
  background-color: white; 
  color: black;
}
.button1:hover {
  background-color: lightsalmon;
  
}
.button2{
  background-color: white; 
  color: black;
}
.button2:hover {
  background-color: lightsalmon;
  
}